%body
  %header.p-3.bg-dark.text-white
    .container
      .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
        %a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none{:href => "/"}
          %svg.bi.me-2{"aria-label" => "Bootstrap", :height => "32", :role => "img", :width => "40"}
            %use{"xlink:href" => "#bootstrap"}
        %ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
          %li
            %span.nav-link.px-2.text-secondary= link_to "Home", paper_index_path
          %li
            %span.nav-link.px-2.text-white= link_to "Add paper", new_paper_path
          - if user_signed_in?
            %li
              %span.nav-link.px-2.text-white= link_to "Sign Out", destroy_user_session_path, method: :delete
          - else
            %li
              %span.nav-link.px-2.text-white= link_to "Sign In", new_user_session_path
            %li
              %span.nav-link.px-2.text-white= link_to "Register", new_user_registration_path
