  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><span class="nav-link px-2 text-secondary"><%= link_to "Home", paper_index_path %></span></li>
          <li><span class="nav-link px-2 text-white"><%= link_to "Add paper", new_paper_path %></span></li>
          <% if user_signed_in? %>
            <li><span class="nav-link px-2 text-white"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></span></li>
          <% else %>
            <li><span class="nav-link px-2 text-white"><%= link_to "Sign In", new_user_session_path %></span></li>
            <li><span class="nav-link px-2 text-white"><%= link_to "Register", new_user_registration_path %></span></li>
          <% end %>
        </ul>

      </div>
    </div>
  </header>
